[
  {
    "url": "https://github.com/frappe/erpnext",
    "branch": "version-16"
  },
  {
    "url": "https://github.com/frappe/frappe",
    "branch": "version-16"
  },
  {
    "url": "https://github.com/Gepsonka/posawesome",
    "branch": "version-15"
  },
  {
    "url": "https://github.com/Gepsonka/scripts",
    "branch": "master"
  }
]
